In [80]:
#CS 249 Final Assignment

import pandas as pd
# need for regression analysis
from statsmodels.formula.api import ols

# NLP Sentiment Score
from nltk.sentiment.vader import SentimentIntensityAnalyzer as stm

In [81]:
# 1) a. Load the data from the csv file into a Python Pandas data frame named df
# Initially, df should have 1989 rows and 4 columns

df = pd.read_csv('/Users/annivoigt/Documents/homework/stockdailyhlnews.csv')

In [82]:
df

,date,sp500,ibm,news
0,8/8/2008,1296.32,87.77,"b""Georgia 'downs two Russian warplanes' as cou..."
1,8/11/2008,1305.32,86.26,b'Why wont America and Nato help us? If they w...
2,8/12/2008,1289.59,85.32,b'Remember that adorable 9-year-old who sang a...
3,8/13/2008,1285.83,85.72,b' U.S. refuses Israel weapons to attack Iran:...
4,8/14/2008,1292.93,86.50,b'All the experts admit that we should legalis...
...,...,...,...,...
1984,6/27/2016,2000.54,110.76,Barclays and RBS shares suspended from trading...
1985,6/28/2016,2036.09,112.46,"2,500 Scientists To Australia: If You Want To ..."
1986,6/29/2016,2070.77,114.59,Explosion At Airport In IstanbulYemeni former ...
1987,6/30/2016,2098.86,117.18,Jamaica proposes marijuana dispensers for tour...
1988,7/1/2016,2102.95,117.59,A 117-year-old woman in Mexico City finally re...

In [83]:
# 1) b. Add a column called sscore to df 
# i. Fill the sscore column with the ‘compound’ sentiment analysis score based on the daily headline news for each day.
import nltk
nltk.download('vader_lexicon', quiet=True) 
analyzer = stm()
df['sscore'] = df['news'].apply(lambda text: analyzer.polarity_scores(text)['compound'])

In [84]:
# 1) b. 
# ii. Calculate the average (mean) ‘compound’ score for the column sscore and 
# store this average number in a variable named avgsscore
avgsscore = df.sscore.mean()

In [85]:
# 2) Is the IBM stock price influenced by the sentiment compound score and/or s&p 500 index?   
# a. Use from statsmodels.formula.api import ols for this linear regression task
import statsmodels.api as sm
from statsmodels.formula.api import ols


X = sm.add_constant(df.sscore)

# Perform OLS regression
model = sm.OLS(df.ibm, X).fit()
print(model.summary())
adj_rsquared = []
adj_rsquared.append(model.rsquared_adj)
f_pvalue = []
f_pvalue.append(model.f_pvalue)
sscore_pvalue = model.pvalues.sscore
#2 Not compound score, according to OLS regression results

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ibm   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                   0.08077
Date:                Tue, 11 Mar 2025   Prob (F-statistic):              0.776
Time:                        16:58:39   Log-Likelihood:                -9216.9
No. Observations:                1989   AIC:                         1.844e+04
Df Residuals:                    1987   BIC:                         1.845e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        111.8263      0.699    160.034      0.000     110.456     113.197
sscore        -0.2864      1.008     -0.284      0.776      -2.263       1.690
==============================================================================
Omnibus:                      220.527   Durbin-Watson:                   0.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.701
Skew:                          -0.565   Prob(JB):                     1.14e-33
Kurtosis:                       2.255   Cond. No.                         2.22
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [86]:
X = sm.add_constant(df.sp500)

# Perform OLS regression
model = sm.OLS(df.ibm, X).fit()
print(model.summary())
adj_rsquared.append(model.rsquared_adj)
f_pvalue.append(model.f_pvalue)
sp500_pvalue = model.pvalues.sp500
#There is correlation in this model, but it might be because they are not independent values

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ibm   R-squared:                       0.368
Model:                            OLS   Adj. R-squared:                  0.368
Method:                 Least Squares   F-statistic:                     1158.
Date:                Tue, 11 Mar 2025   Prob (F-statistic):          2.54e-200
Time:                        16:58:39   Log-Likelihood:                -8760.4
No. Observations:                1989   AIC:                         1.752e+04
Df Residuals:                    1987   BIC:                         1.754e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         56.3740      1.693     33.305      0.000      53.054      59.694
sp500          0.0372      0.001     34.023      0.000       0.035       0.039
==============================================================================
Omnibus:                     1311.629   Durbin-Watson:                   0.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              128.826
Skew:                           0.209   Prob(JB):                     1.06e-28
Kurtosis:                       1.826   Cond. No.                     5.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [87]:
# 2) b. Store adjusted rsquaures in a variable named adj_rsquared
adj_rsquared

[-0.00046260146367016475, 0.36779558103910404]

In [88]:
# 2) c. Store pvalue of f-statistics in a variable named f_pvalue
f_pvalue

[0.7762814898844885, 2.536776145188363e-200]

In [89]:
# 2) d. Store pvalue of sscore in a variable named sscore_pvalue
sscore_pvalue

0.7762814898798704

In [90]:
# 2) e. Store pvalue of sp500 in a variable named sp500_pvalue
sp500_pvalue

2.5367761451866984e-200

In [91]:
# 2) f. If a relationship exists between sscore and ibm stock price, 
# then store a boolean value of True in a variable named sscore_rel; 
# otherwise, sscore_rel should be set to False
if f_pvalue[0] <= 0.05:
    sscore_rel = True
else: sscore_rel = False

In [92]:
# 2) g. If a relationship exists between s&p 500 index and ibm stock price, 
# then store a boolean value of True in a variable named sp500_rel;
# otherwise, sp500_rel should be set to False  


if f_pvalue[1] <= 0.05:
    sscore_rel = True
else: sscore_rel = False
print(sscore_rel)

True

In [7]:
import pandas as pd
import scipy.stats as stats
islands = [ 10,6,8,1,3,9,1,10,10,4,5,9 ]

foods = [ 8,7,8,8,6,10,8,9,9,6,5,8 ]

In [2]:
data = list(zip(islands, foods))

In [3]:
df = pd.DataFrame(data)

In [4]:
df

     0   1
0   10   8
1    6   7
2    8   8
3    1   8
4    3   6
5    9  10
6    1   8
7   10   9
8   10   9
9    4   6
10   5   5
11   9   8

In [11]:
import scipy.stats as stats
islands = df[0]
foods = df[1] 
#np_array = np.array([condition_ios, condition_andriod])
t_statistic, p_value = stats.ttest_ind(islands, foods, alternative = 'greater')
if p_value > 0.05:
    difference = 'NO'
else : difference = 'YES'

if p_value < 0.05:
    print("There is a significant difference between the two groups.")
else:
    print("There is no significant difference between the two groups.")

print(t_statistic)

There is no significant difference between the two groups.
-1.2291174125094426