In [2]:
import pandas as pd

In [3]:
df_disk = pd.read_csv('disk.csv', usecols= ['Image','PID','Total Byte Per Second'])
df_cpu = pd.read_csv('cpu.csv', usecols = ['Image','PID','Description','Status','Threads','Average CPU'])
df_memory = pd.read_csv('memory.csv', usecols = ['Image','PID','Working Set KB'])

In [4]:
def CleanColumnHeading(dfx):
    dfx.rename(columns = {cols : cols.replace(' ', '_').lower() for cols in dfx.columns},inplace= 'True')
    return dfx

df_disk = CleanColumnHeading(df_disk)
df_cpu = CleanColumnHeading(df_cpu)
df_memory = CleanColumnHeading(df_memory)

df_disk.head()
df_cpu.head()
df_memory.head()

if 'threads' in df_memory.columns :
        print('ya')

In [49]:
card = "XXXX-XXXX-XXXX-5678"
card[-4:]

'5678'

In [5]:
def aggregate_data(dfx):
    if 'total_byte_per_second' in dfx.columns :
        dfx =  dfx.groupby(by = 'image').agg(total_byte_sum = ('total_byte_per_second', 'sum'),
                                            process_qty = ('total_byte_per_second', 'count')).reset_index()
    elif 'threads' in dfx.columns:
        dfx =  dfx.groupby(by = 'image').agg(threads_sum = ('threads', 'sum'),
                                            process_qty = ('threads', 'count')).reset_index()
    elif 'working_set_kb' in dfx.columns:
        dfx['working_set_kb'] = dfx['working_set_kb'].str.replace(',', '').astype(int)
        dfx =  dfx.groupby(by = 'image').agg(working_set_sum = ('working_set_kb', 'sum'),
                                            process_qty = ('working_set_kb', 'count')).reset_index()
    
    return dfx

In [6]:
df_cpu = aggregate_data(df_cpu)
df_disk = aggregate_data(df_disk)
df_memory = aggregate_data(df_memory)

In [45]:
df_new = pd.merge(df_cpu, df_disk)
df_new = pd.merge(df_new, df_memory)
df_new.threads_sum = df_new.threads_sum.str.replace(',','').astype(int)
df_new.total_byte_sum = df_new.total_byte_sum.str.replace(',','').astype(int)
high_memory_image = df_new[df_new['working_set_sum'] > 200000]
high_thread_image = df_new[df_new['threads_sum'] > 200]

In [46]:

hilo_filter = (df_new['working_set_sum'] > 200000) & (df_new['threads_sum'] < 50) & (df_new['total_byte_sum'] < 7000)
hi_mem_low_thread_low_io = df_new[hilo_filter]

In [61]:
import pandas as pd
dayofweek = [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri','Mon', 'Tue', 'Wed', 'Thu', 'Fri' ]
revenue = [ 1000.87, 2344.67, 2050.56, 1890.53, 677.54, 1120.91, 1949.98, 1989.88, 2380.50, 1237.89, 1560.88, 1934.76, 1950.14, 2090.45, 991.54 ]
tables = [ 25, 43, 38, 30, 16, 30, 29, 32, 31, 28, 30, 29, 39, 40, 23 ]

In [65]:
combined = list(zip(dayofweek, revenue, tables))

In [66]:
combined

[('Mon', 1000.87, 25),
 ('Tue', 2344.67, 43),
 ('Wed', 2050.56, 38),
 ('Thu', 1890.53, 30),
 ('Fri', 677.54, 16),
 ('Mon', 1120.91, 30),
 ('Tue', 1949.98, 29),
 ('Wed', 1989.88, 32),
 ('Thu', 2380.5, 31),
 ('Fri', 1237.89, 28),
 ('Mon', 1560.88, 30),
 ('Tue', 1934.76, 29),
 ('Wed', 1950.14, 39),
 ('Thu', 2090.45, 40),
 ('Fri', 991.54, 23)]

In [82]:
df = pd.DataFrame(combined, columns = ['dayofweek', 'revenue', 'tables'])

In [83]:
df

   dayofweek  revenue  tables
0        Mon  1000.87      25
1        Tue  2344.67      43
2        Wed  2050.56      38
3        Thu  1890.53      30
4        Fri   677.54      16
5        Mon  1120.91      30
6        Tue  1949.98      29
7        Wed  1989.88      32
8        Thu  2380.50      31
9        Fri  1237.89      28
10       Mon  1560.88      30
11       Tue  1934.76      29
12       Wed  1950.14      39
13       Thu  2090.45      40
14       Fri   991.54      23

In [70]:



df['dif'] = abs(df['revenue']-df['tables'])

In [72]:
df['dif'].max()

2349.5

In [75]:
df = df[df.dif == df.dif.max()]

In [81]:
df.dayofweek

8    Thu
Name: dayofweek, dtype: object

In [84]:
for row in df:
    print(df.dayofweek)

0     Mon
1     Tue
2     Wed
3     Thu
4     Fri
5     Mon
6     Tue
7     Wed
8     Thu
9     Fri
10    Mon
11    Tue
12    Wed
13    Thu
14    Fri
Name: dayofweek, dtype: object
0     Mon
1     Tue
2     Wed
3     Thu
4     Fri
5     Mon
6     Tue
7     Wed
8     Thu
9     Fri
10    Mon
11    Tue
12    Wed
13    Thu
14    Fri
Name: dayofweek, dtype: object
0     Mon
1     Tue
2     Wed
3     Thu
4     Fri
5     Mon
6     Tue
7     Wed
8     Thu
9     Fri
10    Mon
11    Tue
12    Wed
13    Thu
14    Fri
Name: dayofweek, dtype: object